<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_myProductsList.css" />
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="shopping-cart-title">
        <label for="chk" aria-hidden="true"><%=products.tittle%></label>
      </div>
      <div class="shopping-cart-title">
        <div class="courses-cart">
          <% for (let i=0 ; i < products.length; i++) {%> 
            <li class="prod-name" >
              <div class="courses-cart-item">
                <div>
                  <a  href="/products/<%=products[i].id%>">
                  <img
                  class="courses-images-cart"
                  src="/images/productImages/<%=products[i].image %>"
                  alt="Img Plomeria Banner"
                  > 
                  </a>
                </div>
                <div class="courses-cart-descrip">
                  <div class="courses-cart-name">
                    <%=products[i].product_name %>
                  </div>
                  <div class="price-cart">
                    <div >
                      <% for (let j = 0 ; j < categorys.length; j++) { %>
                        <%= (categorys[j].id == products[i].category_id  &&  categorys[j].category == "Curso")  ? "Duración curso " + products[i].duration + " hs": null %>
                        <%= (categorys[j].id == products[i].category_id  &&  categorys[j].category != "Curso")  ?  categorys[j].category : null %>
                      <% } %>
                    </div>
                    <div  >
                      <p>Valor $ <%=products[i].price %></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          <% } %> 
        </div>
      </div>
    </main>
    <script src="/js/shoppingCartN.js"></script>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
