
<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_productsList.css">
    <body>
        <%- include('../partials/header.ejs') %>
    <main>
        <ul>
            <% for (let i=0 ; i < products.length; i++) {%>
                <li>
                    <a href="/products/<%=products[i].id%>">  
                        <%=products[i].product_name %>
                        <img src="/images/productImages/<%=products[i].image %>">
                    </a>
                </li>    
            <% } %> 
        </ul>
    </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>