<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_users.css">
  <body >
      <%- include('../partials/header.ejs') %>
    <main class="blogin">
      <div class="container-main">
        <div class="mainlogin">
          <input type="checkbox" id="chk" aria-hidden="true">
          <div class="signup">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
              <label class="label-create" for="chk" aria-hidden="true">Crear cuenta</label>
              <div>
                  <div>
                    <input 
                    type="text" 
                    id="name" 
                    name="name" 
                    placeholder="Nombre" 
                    value="<%= locals.old && old.name %>">  
                    <% if (locals.errors && errors.name) { %>
                      <div class="errors">
                      <%= errors.name.msg %>
                      </div>
                      <% } %>

                    <input 
                    type="text" 
                    name="lastName" 
                    placeholder="Apellido" 
                    value="<%= locals.old && old.lastName %>">
                    <% if (locals.errors && errors.lastName) { %>
                      <div class="errors">
                      <%= errors.lastName.msg %>
                      </div>
                    <% } %>

                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Correo" 
                    value="<%= locals.old && old.email %>">
                    <% if (locals.errors && errors.email) { %>
                      <div class="errors">
                      <%= errors.email.msg %>
                      </div>
                    <% } %>

                    <input 
                    type="password" 
                    name="pswd" 
                    placeholder="Contraseña">
                    <% if (locals.errors && errors.pswd) { %>
                      <div class="errors">
                      <%= errors.pswd.msg %>
                      </div>
                    <% } %>
              
                    <input 
                    type="password" 
                    name="confirmPswd" 
                    placeholder="Confirmar Contraseña">
                    <% if (locals.errors && errors.confirmPswd) { %>
                      <div class="errors">
                      <%= errors.confirmPswd.msg %>
                      </div>
                    <% } %>
              
                  </div>

                  <div class="createImage">
                    <span class="btn-file">
                      Subir archivo 
                      <input class="btn-file-input" type="file" name="userImage">
                    </span>
                  </div>
                  <div>   
                  <% if (locals.errors && errors.userImage) { %>
                    <div class="errors">
                    <%= errors.userImage.msg %>
                    </div>
                  <% } %>
                  </div> 
                  <div class="button"> 
                    <div class="g-recaptcha" data-sitekey="6Lfrq9sbAAAAADAYhzUJV8pGDZdri3u117PZNkzW"></div>   
                  </div>
                    <button type="submit" class="button">Crear</button> 
              </div>  
            </form>
          </div>
               <script>
                 $(document).on('click','$submit'function()
                 {
                     var response = grecaptcha.getResponse();
                     if(response.length == 0)
                     {
                         alert("Please verify you are not a robot");
                         return false
                     }
                 })
               </script>
          <div class="login">
            <form action="/users/login" method="POST">
              <label class="label-create" for="chk" aria-hidden="true">Login</label>
              <input
                type="email"
                name="emailLogin"
                placeholder="Correo"
                value="<%= locals.old && old.emailLogin %>"/>
                <% if (locals.errors && errors.emailLogin) { %>
                  <div class="errors">
                  <%= errors.emailLogin.msg %>
                  </div>
                <% } %>
              
              <input
                type="password"
                name="pswdLogin"
                placeholder="Contraseña"
                value="<%= locals.old && old.pswdLogin %>"/>
                <% if (locals.errors && errors.pswdLogin) { %>
                  <div class="errors">
                  <%= errors.pswdLogin.msg %>
                  </div>
                <% } %>
              <div class="rememberMe">
                <div >Recordar esta cuenta</div>
                <input type="checkbox" name="rememberMe">
              </div>
              
              <button type="submit"  class="button">Login</button>

            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>