<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="/css/styles_users.css">
  <body >
      <%- include('../partials/header.ejs') %>
    <main class="blogin">
      <div class="container-main">
        <div class="mainlogin">
          <input type="checkbox" id="chk" aria-hidden="true">
          <div class="signup">
            <form action="/users/edit/<%=old.id%>" method="POST" enctype="multipart/form-data">
              <label class="label-create" for="chk" aria-hidden="true">Actualizar Datos</label>
              <div>
                  <div>
                    <input 
                    type="text" 
                    id="name" 
                    name="name" 
                    placeholder="Nombre" 
                    value="<%= locals.old && old.name %>">  
                    <% if (locals.errors && errors.name) { %>
                      <div class="errors">
                      <%= errors.name.msg %>
                      </div>
                      <% } %>

                    <input 
                    type="text" 
                    name="lastName" 
                    placeholder="Apellido" 
                    value="<%= locals.old && old.last_name %>">
                    <% if (locals.errors && errors.lastName) { %>
                      <div class="errors">
                      <%= errors.lastName.msg %>
                      </div>
                    <% } %>

                    <input 
                    type="text" 
                    name="nickName" 
                    placeholder="Alias" 
                    value="<%= locals.old && old.nick_name %>">
                    <% if (locals.errors && errors.nickName) { %>
                      <div class="errors">
                      <%= errors.nickName.msg %>
                      </div>
                    <% } %>

                    <input 
                    type="email" 
                    name="email" 
                    placeholder="Correo" 
                    value="<%= locals.old && old.email %>">
                    <% if (locals.errors && errors.email) { %>
                      <div class="errors">
                      <%= errors.email.msg %>
                      </div>
                    <% } %>

                    <input 
                    type="password" 
                    name="pswd" 
                    placeholder="Contraseña">
                    <% if (locals.errors && errors.pswd) { %>
                      <div class="errors">
                      <%= errors.pswd.msg %>
                      </div>
                    <% } %>
              
                    <input 
                    type="password" 
                    name="confirmPswd" 
                    placeholder="Confirmar Contraseña">
                    <% if (locals.errors && errors.confirmPswd) { %>
                      <div class="errors">
                      <%= errors.confirmPswd.msg %>
                      </div>
                    <% } %>
              
                  </div>

                  <div class="createImage">
                    <span class="btn-file">
                      Subir archivo 
                      <input class="btn-file-input" type="file" name="userImage">
                    </span>
                  </div>
                  <div>   
                  <% if (locals.errors && errors.userImage) { %>
                    <div class="errors">
                    <%= errors.userImage.msg %>
                    </div>
                  <% } %>
                  </div> 
                  <div class="button"> 
                    <div class="g-recaptcha" data-sitekey="6Lfrq9sbAAAAADAYhzUJV8pGDZdri3u117PZNkzW"></div>   
                  </div>
                    <button type="submit" class="button">Guardar Cambios</button> 
              </div>  
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>