<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styles_userProfile.css">
    
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <div class="create-title">    
                <label for="chk" aria-hidden="true">Tus Datos</label>
            </div>
            <div class="container">
                <div class="create-group" >
                    <div class="createNew" >
                        <div class="create">
                            <label for="productName">Nombre</label>
                            <input type="text" 
                            class="name"
                            name="name" 
                            id="name" 
                            value= "<%= user.name%> <%= user.last_name%>">   
                        </div>
                        <div class="create">
                            <label for="nickName">Alias </label>
                            <input type="text" 
                            class="name"
                            name="name" 
                            id="name"
                            value="<%= user.nick_name%>" 
                            >   
                        </div> 
                        <div class="create">
                            <label for="email"> Email </label>
                            <input type="text" 
                            class="name"
                            name="name" 
                            id="name"
                            value="<%= user.email%> " 
                            >   
                        </div> 
                        <div class="button">
                            <a href="/products/myProducts">
                            <input type="submit" value="mis productos">
                            </a>
                        </div>   
                        <div class="button">
                            <a href="/users/edit">
                            <input type="submit" value="editar perfil">
                            </a>
                        </div> 
                    </div>   
                </div>
                <div class="image">
                    <a >
                        <img src="/images/usersImages/<%= user.image ? user.image : 'default.png' %>">
                    </a>
                </div>
            </div>  
        </main>
  
        <%- include('../partials/footer.ejs') %>
    
</body>
